 <div class="jumbotron font-center">
 
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
  
 </div>

<div class="panel panel-default">
   <% if @card %>
         
            <div id="panel_heading" class="panel-heading">

              <p> <%= image_tag @card.image.url(:medium) if @card.image %> </p>
              <%= @card.translated %>
              
            </div>

            <div class="panel-body">
          
              <p>
                <%= render 'home/form' %>
              </p>
              </div>
   

  <% else %>
    <div class="panel-body">
      <h1>Карточек нет</h1>
      
    </div>

  <% end %>

</div>